
.header-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
}
.div-logo img{
position: absolute;
  top: -15px; 
  left: 48%;
  height: 100px;
  width: 100px;
}
.menu-list ul{
  list-style: none;
  color: var(--color-orange);
  display: flex;
  flex-direction: row;
}
.menu-list a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: var(--font-montserrat);
}

.menu-list ul li{
  padding: 10px;
}
.menu-list ul li:hover{
  border-bottom: 3px solid var(--color-orange);
  border-radius: 2px;
}
.nav{
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
}
.nav span{
  width: 30px;
  height: 5px;
  background-color:var(--color-orange);
  margin: 2px;
  border-radius: 2px;
  transition: position 4s;
}
.menu-lateral{
  display: none;
}


.menu-lateral-active{
  position: absolute;
  top: 71px;
  right: 0px;
  width: 30%;
  height: calc(54rem);
  background-color: var(--color-blanco);
  padding-left: 20px;
  -webkit-box-shadow: -7px 6px 28px -32px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 6px 28px -32px rgba(0,0,0,0.75);
  box-shadow: -7px 6px 28px -32px rgba(0,0,0,0.75);
  
}


.first-section ul{
  list-style: none;
  padding: 10px 20px;
  text-align: right;
}
.first-section ul li{
  padding: 20px 0px;
  width: 80%;
}
.first-section ul a{
  text-decoration: none;
  font-family: var(--font-montserrat);
  color: var(--color-gris-claro);
  font-weight: 700;
}
.inicio-link {
  color: var(--color-orange);
}
.second-section ul{
  list-style: none;
  padding: 10px 20px;
  text-align: left;
  
}
.second-section ul li{
  padding: 20px 0px;
  width: 80%;
}
.second-section ul a{
  text-decoration: none;
  font-family: var(--font-montserrat);
  color: var(--color-azul);
  font-weight: 700;
}
.third-section{
  list-style: none;
  text-align: center;
}
.third-section ul{
  list-style: none;
  display:flex ;
  justify-content: center;
}
.third-section ul li{
  width: 100px;
  padding:15px;
  border-radius: 10px;
  background-color: var(--color-orange);
}
.third-section ul a{
  text-decoration: none;
  font-family: var(--font-montserrat);
  color: var(--color-blanco);
  font-weight: 700;
  
}
.arrow {
  position: relative;
  left: -60px;
  top:-10%;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 200%;
  color: var(--color-gris-claro);
  cursor: pointer;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--color-blanco);
  text-align: center;
  -webkit-box-shadow: -7px 6px 28px -32px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 6px 28px -32px rgba(0,0,0,0.75);
box-shadow: -7px 6px 28px -32px rgba(0,0,0,0.75);
}
@media only screen and (max-width: 600px) {
  .div-logo img{
    position: absolute;
      top: -15px; 
      left: 42%;
      height: 100px;
      width: 100px;
    }
  .menu-list{
    display: none;
  }
  .menu-lateral-active{
    position: fixed;
    width: 50%;

  }

}