:root{
  --color-color1:#F5830C;
  --color-color2:#F7F7F7;
  --color-color2-1:#BDBEBF;
  --color-color3:#00B7FF;
  --color-color4:#ffff;

}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-color2);
}