.contacto-container{
    display:flex ;
    flex-direction: column;
    background-color: var(--color-gris-light);
    margin: 20px 0px 20px 0px;
}
.contacto-container h1{
    color: var(--color-orange);
    font-family: var(--font-montserrat);
    padding-top: 20px;
    text-align: center;
}
.datos-contacto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.datos-contacto-container img{
    width: 300px;
    height: 300px;
}
.link-contacto {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.link-contacto a{
    text-decoration: none;
    font-family: var(--font-montserrat);
    color: var(--color-gris-claro);
    padding: 20px;
    font-size: 20px;
}