:root{
    --color-blanco:#fff;
    --color-gris-claro:#B8BABF;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-logo {
    height: 100px;
    width: 100px;
}
.busqueda{
    border-radius: 25px;
    height: 50px;
    width: 400px;
    border: 1px solid var(--color-gris-claro);
}

.busqueda::placeholder{
    color: var(--color-gris-claro);
    font-size: 20px;
}
.menu-list ul{
    list-style: none;
    color: var(--color-blanco);
    display: flex;
    flex-direction: row;
}
.menu-list a{
    text-decoration: none;
    color: var(--color-blanco);
    cursor: pointer;
}

.menu-list ul li{
    padding: 10px;
}
.menu-list ul li:hover{
    border-bottom: 3px solid var(--color-blanco);
    border-radius: 2px;
}
.nav{
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav span{
    width: 30px;
    height: 5px;
    background-color:var(--color-blanco);
    margin: 2px;
    border-radius: 2px;
}