header{
    position: absolute;
    width: 100%;
    top: 0px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-logo{
    display: flex;
    justify-content: calc(100%-100px);

}
.div-logo img{
    height: 100px;
    width: 100px;
    padding-right: 40px;
}
.busqueda{
    border-radius: 25px;
    height: 50px;
    width: 400px;
    border: 1px solid var(--color-gris-claro);
}

.busqueda::placeholder{
    color: var(--color-gris-claro);
    font-size: 20px;
}
.menu-list ul{
    list-style: none;
    color: var(--color-orange);
    display: flex;
    flex-direction: row;
}
.menu-list a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-family: var(--font-montserrat);
}

.menu-list ul li{
    padding: 10px;
}
.menu-list ul li:hover{
    border-bottom: 3px solid var(--color-orange);
    border-radius: 2px;
}
.nav{
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav span{
    width: 30px;
    height: 5px;
    background-color:var(--color-orange);
    margin: 2px;
    border-radius: 2px;
}