body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --color-blanco:#fff;
  --color-gris-claro:#B8BABF;
  --color-gris-light:#F8F6F7;
  --color-orange:#F5830C;
  --color-azul:#00B7FF;
  --color-negro:#000;
  --font-montserrat: 'Montserrat', sans-serif;
}

