
.restaurante-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-gris-claro);
    width: 200px;
    height: 100%;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.restaurante-list-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.restaurante-list-container h3{
    color: var(--color-orange);
    font-family: var(--font-montserrat);
    margin: 10px 2px 2px 2px;
}
.restaurante-list-container p{
    display: flex;
    font-family: var(--font-montserrat);
    color: var(--color-gris-claro);
    text-align: center;
    align-items: center;
    height: 70px;
    margin: 2px;
    padding: 0px;
}
.restaurante-list-container span{
    color: var(--color-orange);
    padding-bottom: 20px;
}