@media (max-width: 390px){
    .slide-container{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .slide-container img{
        width: 100%;
    }
}