.slide-total{
    display: flex;
    flex-direction: column;
}
.slide-component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.direction{
    
}
.direction span{
 padding: 20px;
 margin: 5px;
 border-radius: 100%;
 background-color: rgb(221, 221, 221);
}
.slide-container{
    display: flex;
 flex-direction: row;
 background-color: aquamarine;
}
 